extends ../layouts/master.pug

block title
  title Traveloka

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block content
  // Menu
  +menu('login')

  // Contact Us
  .floating-button.floating-bottom-right
    a.btn.btn-small.btn-pills(href='#')
      +icon('ic-contact-message-cs')
      | Contact Us

  //- Homepage
  main.home__page__1
    include ../components/jumbotron.pug
    //- section.latest-search
    //-   .container
    //-     +icon('ic-system-arrow-right')
    //-     h3 Continue your search
    section.enhance-trip.merchandising
      .container
        .merch-title
          h3 Enhance your trip the way you like it
        .merch-content
          .row
            .col
              a.image-link.merch-card(href='#')
                img(src=require('images/enhance-card-1.png'))
            .col
              a.image-link.merch-card(href='#')
                img(src=require('images/enhance-card-2.png'))
            .col
              a.image-link.merch-card(href='#')
                img(src=require('images/enhance-card-3.png'))
            .col
              a.image-link.merch-card(href='#')
                img(src=require('images/enhance-card-4.png'))
            .col
              a.image-link.merch-card(href='#')
                img(src=require('images/enhance-card-5.png'))
            .col
              a.image-link.merch-card(href='#')
                img(src=require('images/enhance-card-6.png'))
    section.promotion.merchandising
      .container
        .merch-title
          <svg class="icon-24 header-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 16L14 8C14 8 13 9 11.5 9C10 9 8.5 8 8.5 8M7 9.5V9.5C7 10.3284 7.67157 11 8.5 11V11C9.32843 11 10 10.3284 10 9.5V9.5C10 8.67157 9.32843 8 8.5 8V8C7.67157 8 7 8.67157 7 9.5ZM17 14.5V14.5C17 15.3284 16.3284 16 15.5 16V16C14.6716 16 14 15.3284 14 14.5V14.5C14 13.6716 14.6716 13 15.5 13V13C16.3284 13 17 13.6716 17 14.5Z" stroke="#91EC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.26137 7C2.56473 7 2 7.56473 2 8.26137V15.7386C2 16.4353 2.56473 17 3.26137 17V17C3.69547 17 4.07386 17.2954 4.17915 17.7166L4.31063 18.2425C4.42193 18.6877 4.82191 19 5.28078 19H18.7192C19.1781 19 19.5781 18.6877 19.6894 18.2425L19.8209 17.7166C19.9261 17.2954 20.3045 17 20.7386 17V17C21.4353 17 22 16.4353 22 15.7386V8.26137C22 7.56473 21.4353 7 20.7386 7V7C20.3045 7 19.9261 6.70456 19.8209 6.28342L19.6894 5.75746C19.5781 5.3123 19.1781 5 18.7192 5H5.28078C4.82191 5 4.42193 5.3123 4.31063 5.75746L4.17914 6.28342C4.07386 6.70456 3.69547 7 3.26137 7V7Z" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          h3 Best deals for a price-less travel!
        .merch-content.merch-filterable
          .merch-filter
            button.btn.btn-pills.btn-small(data-product='all') All Products
            button.btn.btn-pills.btn-secondary.btn-small(data-product='flight') Flight
            button.btn.btn-pills.btn-secondary.btn-small(data-product='hotel') Hotel
            button.btn.btn-pills.btn-secondary.btn-small(data-product='xperience') Xperience
          .carousel(data-shown='3')
            .merch-item(data-product='flight')
              a(href='#')
                img(src=require('images/promo-banner-1.png'))
            .merch-item(data-product='hotel')
              a(href='#')
                img(src=require('images/promo-banner-2.png'))
            .merch-item(data-product='xperience')
              a(href='#')
                img(src=require('images/promo-banner-3.png'))
            .merch-item(data-product='flight')
              a(href='#')
                img(src=require('images/promo-banner-1.png'))
            .merch-item(data-product='hotel')
              a(href='#')
                img(src=require('images/promo-banner-2.png'))
            .merch-item(data-product='xperience')
              a(href='#')
                img(src=require('images/promo-banner-3.png'))
          .merch-see-more.text-center.padding-16
            a.btn.btn-secondary.btn-inline-block(href='#', style='padding:8px 80px') See All Deals
    section.shoutheast-asia.merchandising
      .container
        .merch-title
          +icon('ic-product-hotel-fill')
          h3 Rediscover yourself in Asia and beyond
        .merch-content
          .row
            .col
              a.image-link.merch-content-item.ratio-3-by-4(href='#')
                img(src=require('images/card-merchandising-sea-1.png'))
            .col
              a.image-link.merch-content-item.ratio-3-by-4(href='#')
                img(src=require('images/card-merchandising-sea-2.png'))
            .col
              a.image-link.merch-content-item.ratio-3-by-4(href='#')
                img(src=require('images/card-merchandising-sea-3.png'))
          .row
            .col
              a.image-link.merch-content-item.ratio-3-by-4(href='#')
                img(src=require('images/card-merchandising-sea-4.png'))
            .col
              a.image-link.merch-content-item.ratio-3-by-4(href='#')
                img(src=require('images/card-merchandising-sea-5.png'))
            .col
              a.image-link.merch-content-item.ratio-3-by-4(href='#')
                img(src=require('images/card-merchandising-sea-6.png'))
    section.hotel-inspiration.merchandising
      .container
        .merch-title
          +icon('ic-product-hotel')
          h3 Stay cozy in these most-loved cities
        .merch-content.merch-filterable
          .merch-filter
            button.btn.btn-pills.btn-small(data-product='all') All
            button.btn.btn-pills.btn-secondary.btn-small(data-product='jakarta') Jakarta
            button.btn.btn-pills.btn-secondary.btn-small(data-product='bali') Bali
            button.btn.btn-pills.btn-secondary.btn-small(data-product='jogja') Jojga
            button.btn.btn-pills.btn-secondary.btn-small(data-product='lombok') Lombok
            button.btn.btn-pills.btn-secondary.btn-small(data-product='bandung') Bandung
          .carousel(data-shown='4')
            .merch-item(data-product='jakarta')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-1.png'))
            .merch-item(data-product='bali')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-2.png'))
            .merch-item(data-product='jogja')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-3.png'))
            .merch-item(data-product='bali')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-4.png'))
            .merch-item(data-product='jakarta')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-1.png'))
            .merch-item(data-product='bandung')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-2.png'))
            .merch-item(data-product='lombok')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-3.png'))
            .merch-item(data-product='bali')
              a(href='#')
                img(src=require('images/card-merchandising-hotel-4.png'))
          .merch-see-more.text-center.padding-16
            a.btn.btn-secondary.btn-inline-block(href='#', style='padding:8px 80px') See All Hotels
    section.flight-inspiration.merchandising
      .container
        .merch-title
          h3 Your next getaway? Just hop right away!
        .merch-content.merch-filterable
          .merch-filter
            button.btn.btn-pills.btn-small(data-product='all') All
            button.btn.btn-pills.btn-secondary.btn-small(data-product='flight') Flight
            button.btn.btn-pills.btn-secondary.btn-small(data-product='hotel') Hotels
            button.btn.btn-pills.btn-secondary.btn-small(data-product='train') Trains
            button.btn.btn-pills.btn-secondary.btn-small(data-product='bus-shuttle') Bus &amp; Shuttle
            button.btn.btn-pills.btn-secondary.btn-small(data-product='airport-transfer-car') Airport Trf. & Cars
            button.btn.btn-pills.btn-secondary.btn-small(data-product='activities') Activities
            button.btn.btn-pills.btn-secondary.btn-small(data-product='bills-topup') Bills &amp; Top Up
          .carousel(data-shown='4')
            .merch-item(data-product='flight')
              a(href='#')
                img(src=require('images/card-merchandising-flight-1.png'))
            .merch-item(data-product='hotel')
              a(href='#')
                img(src=require('images/card-merchandising-flight-2.png'))
            .merch-item(data-product='train')
              a(href='#')
                img(src=require('images/card-merchandising-flight-3.png'))
            .merch-item(data-product='bus-shuttle')
              a(href='#')
                img(src=require('images/card-merchandising-flight-4.png'))
            .merch-item(data-product='airport-transfer-car')
              a(href='#')
                img(src=require('images/card-merchandising-flight-1.png'))
            .merch-item(data-product='activities')
              a(href='#')
                img(src=require('images/card-merchandising-flight-2.png'))
            .merch-item(data-product='bills-topup')
              a(href='#')
                img(src=require('images/card-merchandising-flight-3.png'))
            .merch-item(data-product='flight')
              a(href='#')
                img(src=require('images/card-merchandising-flight-4.png'))
    section.travel-guide.merchandising
      .container
        .merch-title
          img(src=require('images/ic-product-travel-guide-fill.svg'))
          h3 International escapes: get the guides
        .merch-content
          .carousel(data-shown='5')
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-1.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-2.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-3.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-4.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-5.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-1.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-2.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-3.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-4.png'))
            .merch-item
              a(href='#')
                img(src=require('images/card-merchandising-country-5.png'))
          .merch-see-more.text-center.padding-16
            a.btn.btn-secondary.btn-inline-block(href='#', style='padding:8px 80px') See All Guides (100+ Cities)
    section.travel-guide.merchandising
      .container
        .merch-title
          +icon('ic-link-to-news-blog')
          h3 Read on and kickstart your adventure
        .merch-content
          .row
            .col
              a.image-link(href='#')
                img(src=require('images/card-merchandising-article-1.png'))
            .col
              a.image-link(href='#')
                img(src=require('images/card-merchandising-article-2.png'))
            .col
              a.image-link(href='#')
                img(src=require('images/card-merchandising-article-3.png'))
            .col
              a.image-link(href='#')
                img(src=require('images/card-merchandising-article-4.png'))
          .merch-see-more.text-center.padding-16
            a.btn.btn-secondary.btn-inline-block(href='#', style='padding:8px 80px') Read Inspiring Articles
    section.usp.merchandising(style='background:url(/assets/images/usp-bg-image.png);background-size:contain;')
      .container
        .merch-title
          h3 Why book with Traveloka?
        .merch-content
          .row
            .col
              img(src=require('images/usp-card-1.png'))
            .col
              img(src=require('images/usp-card-2.png'))
            .col
              img(src=require('images/usp-card-3.png'))
    section.seo.merchandising(style='background:url(/assets/images/usp-bg-image.png);background-size:contain;')
      .container
        .merch-title
          h3 For all your unique travel choices, we’ve got you.

