extends ../layouts/master.pug

block title
  title Traveloka

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block content
  // Menu
  +menu('homepage')

  //- Homepage
  main.home__page__1
    section.jumbotron
      .bg-image
        .bg-image-item(data-image-bg=require('images/image-bg-1.jpg'))
        .bg-image-item(data-image-bg=require('images/image-bg-2.jpg'))
        .bg-image-item(data-image-bg=require('images/image-bg-3.jpg'))
        .bg-image-item(data-image-bg=require('images/image-bg-4.jpg'))
      .bg-image-control-prev
      .bg-image-control-next
      .container.text-center
        h1.slogan Southeast Asia's Leading Travel Platform
    img.mockup(src=require('images/mockup-without-header.png'), alt="mockup")

