//- Master layout
//- The variables

doctype html
html(lang='en')
  head

    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='msapplication-TileColor', content='#1ba0e2')
    meta(name='theme-color', content='#1ba0e2')
    meta(name='robots', content='noindex, nofollow')

    //- SEO

    //- Title
    block title
      title Traveloka

    //- Basic Seo
    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

      //- Twitter
      meta(name='twitter:card', content='summary')
      meta(name='twitter:site', content='')
      meta(name='twitter:image', content='')
      meta(name='twitter:description', content='')

      //- Facebook
      meta(property='og:url', content='')
      meta(property='og:title', content='')
      meta(property='og:description', content='')
      meta(property='og:image', content='')
      meta(property='og:type', content='website')

    //- Favicons
    link(rel='apple-touch-icon', sizes='180x180', href=require('images/favicons/apple-touch-icon.png'))
    link(rel='shortcut icon', href=require('images/favicons/favicon.ico'))

    //- Preload fonts
    link(type='font/woff', href=require('source/assets/fonts/GodwitText-ExtraBold.ttf'), rel='preload', as='font', crossorigin)
    link(type='font/woff', href=require('source/assets/fonts/GodwitText-SemiBold.ttf'), rel='preload', as='font', crossorigin)
    link(type='font/woff', href=require('source/assets/fonts/GodwitText-Regular.ttf'), rel='preload', as='font', crossorigin)
    link(type='font/woff', href=require('source/assets/fonts/GodwitText-Light.ttf'), rel='preload', as='font', crossorigin)

    //- Hotjar Tracking Code for my site
    script.
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3179657,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

  body

    //- Mixins
    include ../mixins/icons.pug
    include ../mixins/section.pug
    include ../mixins/subscribe.pug

    //- Menu
    include ../components/header.pug

    //- block content
    block content

    //- Footer
    include ../components/footer.pug

    //- block scripts
    block scripts