mixin menu(region,isLogin)
  header
    // Top Banner
    -var topBgImage = '/assets/images/top-banner-background.png'
    -var topBgColor = '#0194F3'
    -var topFontColor = '#FFF'
    #top-banner(style='background-image:url('+topBgImage+');background-color:'+topBgColor+';')
      .container
        .top-banner-grid
          a.top-banner-content(href='#')
            img(src=require('images/top-banner-image-content.png'), alt='top image banner')
            //- span(style='color:'+topFontColor) Unlock member-only deals and manage your bookings with ease.
          .top-banner-close
            a.btn.btn-pills.btn-top-baner-close(href='#')
              | Close
              +icon('ic-system-cross-close')
    // Header
    -var region = `${region}`
    -var isLogin = `${isLogin}`
    case region
      when 'en-id'
        -var loginUrl = '/en-id-login'
        -var logoutUrl = '/en-id'
      default
        -var loginUrl = '/en-login'
        -var logoutUrl = '/en'
    #header
      .container
        nav.menu
          a.menu__brand(href='/')
            img.header-default.brand-background(src=require('images/brand-ornament.svg'))
            img.header-default(src=require('images/traveloka-logo-white.png'), alt="Traveloka", title="Traveloka", class="image")
            img.header-white(src=require('images/traveloka-logo.png'), alt="Traveloka", title="Traveloka", class="image")
          ul.menu__ul
            li.menu__item
              a.menu__link(href='/en-id')
                .language-country-flag(class=region === 'en-id' ? 'active' : '')
                  +icon('ic-flag-rectangle-id')
                .language-country-flag(class=region === 'en' ? 'active' : '')
                  <svg class="header-default" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <rect width="24" height="24"></rect>
                      <circle cx="12" cy="12" r="10" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                      <path stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12,22 C15.0375661,22 17.5,17.5228475 17.5,12 C17.5,6.4771525 15.0375661,2 12,2 C8.96243388,2 6.5,6.4771525 6.5,12 C6.5,17.5228475 8.96243388,22 12,22 Z M12,22 L12,2 M22,12 L2,12"></path>
                    </g>
                  </svg>
                  <svg class="header-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <rect width="24" height="24"></rect>
                      <circle cx="12" cy="12" r="10" stroke="#0194f3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                      <path stroke="#0194f3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12,22 C15.0375661,22 17.5,17.5228475 17.5,12 C17.5,6.4771525 15.0375661,2 12,2 C8.96243388,2 6.5,6.4771525 6.5,12 C6.5,17.5228475 8.96243388,22 12,22 Z M12,22 L12,2 M22,12 L2,12"></path>
                    </g>
                  </svg>
                | EN | IDR
                <svg class="header-default" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <svg class="header-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            li.menu__item
              a.menu__link(href='#')
                <svg class="icon-16 header-default" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 16L14 8C14 8 13 9 11.5 9C10 9 8.5 8 8.5 8M7 9.5V9.5C7 10.3284 7.67157 11 8.5 11V11C9.32843 11 10 10.3284 10 9.5V9.5C10 8.67157 9.32843 8 8.5 8V8C7.67157 8 7 8.67157 7 9.5ZM17 14.5V14.5C17 15.3284 16.3284 16 15.5 16V16C14.6716 16 14 15.3284 14 14.5V14.5C14 13.6716 14.6716 13 15.5 13V13C16.3284 13 17 13.6716 17 14.5Z" stroke="#91EC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M3.26137 7C2.56473 7 2 7.56473 2 8.26137V15.7386C2 16.4353 2.56473 17 3.26137 17V17C3.69547 17 4.07386 17.2954 4.17915 17.7166L4.31063 18.2425C4.42193 18.6877 4.82191 19 5.28078 19H18.7192C19.1781 19 19.5781 18.6877 19.6894 18.2425L19.8209 17.7166C19.9261 17.2954 20.3045 17 20.7386 17V17C21.4353 17 22 16.4353 22 15.7386V8.26137C22 7.56473 21.4353 7 20.7386 7V7C20.3045 7 19.9261 6.70456 19.8209 6.28342L19.6894 5.75746C19.5781 5.3123 19.1781 5 18.7192 5H5.28078C4.82191 5 4.42193 5.3123 4.31063 5.75746L4.17914 6.28342C4.07386 6.70456 3.69547 7 3.26137 7V7Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg class="icon-16 header-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 16L14 8C14 8 13 9 11.5 9C10 9 8.5 8 8.5 8M7 9.5V9.5C7 10.3284 7.67157 11 8.5 11V11C9.32843 11 10 10.3284 10 9.5V9.5C10 8.67157 9.32843 8 8.5 8V8C7.67157 8 7 8.67157 7 9.5ZM17 14.5V14.5C17 15.3284 16.3284 16 15.5 16V16C14.6716 16 14 15.3284 14 14.5V14.5C14 13.6716 14.6716 13 15.5 13V13C16.3284 13 17 13.6716 17 14.5Z" stroke="#91EC00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M3.26137 7C2.56473 7 2 7.56473 2 8.26137V15.7386C2 16.4353 2.56473 17 3.26137 17V17C3.69547 17 4.07386 17.2954 4.17915 17.7166L4.31063 18.2425C4.42193 18.6877 4.82191 19 5.28078 19H18.7192C19.1781 19 19.5781 18.6877 19.6894 18.2425L19.8209 17.7166C19.9261 17.2954 20.3045 17 20.7386 17V17C21.4353 17 22 16.4353 22 15.7386V8.26137C22 7.56473 21.4353 7 20.7386 7V7C20.3045 7 19.9261 6.70456 19.8209 6.28342L19.6894 5.75746C19.5781 5.3123 19.1781 5 18.7192 5H5.28078C4.82191 5 4.42193 5.3123 4.31063 5.75746L4.17914 6.28342C4.07386 6.70456 3.69547 7 3.26137 7V7Z" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Deals
            li.menu__item
              a.menu__link(href='#') Support
            li.menu__item
              a.menu__link(href='#') Partnership
            li.menu__item(class=isLogin === 'not-login' ? 'hidden' : '')
              a.menu__link(href='#') Saved
            li.menu__item
              a.menu__link(href='#') Bookings
            li.menu__item(class=isLogin === 'not-login' ? 'hidden' : '')
              a.menu__link.btn.btn-outline.btn-small(href=logoutUrl)
                img.avatar(src=require('images/user-avatar.png'), alt="User Avatar")
                strong Hi, Raisa
                span (500 points)
                <svg class="header-default" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <svg class="header-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            li.menu__item(class=isLogin === 'login' ? 'hidden' : '')
              a.menu__link.btn.btn-outline.btn-small(href=loginUrl)
                <svg class="header-default" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.44954 20.6443C3.3058 21.3665 3.88623 22 4.62267 22H19.3773C20.1138 22 20.6942 21.3665 20.5505 20.6443C19.9516 17.635 17.9884 13 12 13C6.01165 13 4.04844 17.635 3.44954 20.6443Z" fill="#FFFFFF"></path>
                  <path d="M7 7.5C7 10.2614 9.23858 12.5 12 12.5C14.7614 12.5 17 10.2614 17 7.5V6.5C17 3.73858 14.7614 1.5 12 1.5C9.23858 1.5 7 3.73858 7 6.5V7.5Z" fill="#FFFFFF"></path>
                </svg>
                <svg class="header-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.44954 20.6443C3.3058 21.3665 3.88623 22 4.62267 22H19.3773C20.1138 22 20.6942 21.3665 20.5505 20.6443C19.9516 17.635 17.9884 13 12 13C6.01165 13 4.04844 17.635 3.44954 20.6443Z" fill="#0194f3"></path>
                  <path d="M7 7.5C7 10.2614 9.23858 12.5 12 12.5C14.7614 12.5 17 10.2614 17 7.5V6.5C17 3.73858 14.7614 1.5 12 1.5C9.23858 1.5 7 3.73858 7 6.5V7.5Z" fill="#0194f3"></path>
                </svg>
                span Log In
                <svg class="header-default" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <svg class="header-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            li.menu__item(class=isLogin === 'login' ? 'hidden' : '')
              a.btn.btn-primary.btn-small(href='#', style='color:#fff !important')
                | Register
