form.product-form-container
  .product-form-input.border-right
    label.product-form-label(for='input-flight-from') From
    label.product-form-icon(for='input-flight-from')
      +icon('ic-flight-take-off')
    input(id='input-flight-from', type="text", placeholder="Airport")
  .product-form-input.border-right
    .product-form-flight-switch
      label(for='input-flight-switch')
        +icon('ic-trip-round-trip')
      input(id='input-flight-switch', type="checkbox", placeholder="Switch")
    label.product-form-label(for='input-flight-to') To
    label.product-form-icon(for='input-flight-to', style='margin-left:32px')
      +icon('ic-system-map-location')
    input(id='input-flight-to', type="text", placeholder="Area, address, building")
  .product-form-input
    label.product-form-label(for='input-room-guest') Pick up Date
    label.product-form-icon(for='input-room-guest')
      +icon('ic-system-calendar')
    input(id='input-room-guest', type="text", placeholder="23 Apr 2023")
  .product-form-input
    label.product-form-label(for='input-room-guest') Pick up Time
    label.product-form-icon(for='input-room-guest')
      +icon('ic-system-clock')
    input(id='input-room-guest', type="text", placeholder="18:00")
  .product-form-cta
    button.btn.btn-orange.btn-small
      +icon('ic-system-search')

.trusted-partners
  .trusted-partners-text
    i Trusted by
  .trusted-partners-logos(data-shown='5', data-design-alt='1')
    a.trusted-partners-item.active(href='#')
      img(src=require('images/logo-partner-1.png'), alt="partner logo 1")
    a.trusted-partners-item.active(href='#')
      img(src=require('images/logo-partner-2.png'), alt="partner logo 2")
    a.trusted-partners-item.active(href='#')
      img(src=require('images/logo-partner-3.png'), alt="partner logo 3")
    a.trusted-partners-item.active(href='#')
      img(src=require('images/logo-partner-4.png'), alt="partner logo 4")
    a.trusted-partners-item.active(href='#')
      img(src=require('images/logo-partner-5.png'), alt="partner logo 5")
    a.trusted-partners-item(href='#')
      img(src=require('images/logo-partner-6.png'), alt="partner logo 6")
    a.trusted-partners-item(href='#')
      img(src=require('images/logo-partner-7.png'), alt="partner logo 7")
    a.trusted-partners-item(href='#')
      img(src=require('images/logo-partner-8.png'), alt="partner logo 8")
    a.trusted-partners-item(href='#')
      img(src=require('images/logo-partner-9.png'), alt="partner logo 9")
    a.trusted-partners-item(href='#')
      img(src=require('images/logo-partner-10.png'), alt="partner logo 10")